---
layout: default
---
 <script type="text/javascript" src="/assets/js/MoneyTable.js?v={{site.build}}"></script>
 <script type="text/javascript" src="/assets/js/MoneyChart.js?v={{site.build}}"></script>
 <script type="text/javascript" src="/assets/js/MoneyManager.js?v={{site.build}}"></script>
 <script type="text/javascript" src="/assets/js/MoneyStorage.js?v={{site.build}}"></script>
 <script type="text/javascript" src="/assets/js/MoneyConstants.js?v={{site.build}}"></script>
 <script type="text/javascript" src="/assets/js/jquery.cookie.js?v={{site.build}}"></script>
 <!--script type="text/javascript" src="/assets/js/chartjs-plugin-labels.min.js?v={{site.build}}"></script-->

<!-- OPEN ICONIC -->
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css"/>

<div class="row">
	<div class="border col-12 col-xl-3 order-lg-3 order-xl-1">
		<div class="d-flex justify-content-center">
			<h1>ARTICLES</h1>
		</div>
		<div class="d-flex justify-content-center">
			<h1>AD SPACE</h1>
		</div>
	</div>
	<div class="col-12 col-xl-6 order-lg-1 order-xl-2">
		<div class="row">
		    <div class="col-auto mt-2 mb-2 mr-auto" id="budgetMonth"></div>
		    <div class="col-auto mt-2 mb-2"><a href="" class="btn btn-success">Save</a></div>
		</div>
		<div>
		    <table id="datatables" class="table">
		        <thead>
		            <tr>
		                <th>Category</th>
		                <th>Name</th>
		                <th>Budgeted</th>
		                <th>Actual</th>
		                <th>Type</th>
		                <th>Action</th>
		                <th>ID</th>
		            </tr>
		        </thead>    
		    </table>
		</div> 
	</div>
	<div class="col-12 col-xl-3 border order-lg-2 order-xl-3">

		<div class="mt-5 text-center" id="leftToBudget">
			<h4>
				<span class="text-success">$2,736.00</span><span>&nbsp;left to budget</span>
			</h4>
		</div>		    
		<div class="position-relative mb-5" id="budgetedChart"></div>


		<div class="d-flex justify-content-center">
			<h1>ARTICLES</h1>
		</div>
		<div class="d-flex justify-content-center">
			<h1>MORE AD SPACE</h1>
		</div>

	
	</div>
	
</div>



<script>
$(document).ready(function() {
    new MoneyChart('#budgetedChart');
    new MoneyTable({table: '#datatables', leftToBudget: '#leftToBudget', data: MoneyConstants.baseAccounts});
    new MoneyManager({bindTo:'#budgetMonth'});
    new MoneyStorage({});
});
</script>
