<!doctype html>
<html class="no-js" lang="en">

{% comment %}
	The default layout for the site, which is extended by all other layouts.
	Includes the document <head>, main navigation and page footer
{% endcomment %}

{% include head.html %}

<body>
	{% include navbar.html %}

	<div class="container-fluid" style="padding-left: 0; padding-right: 0;">
		{% comment %}
			Any layout that extends this layout will have its contents
			added as the content variable
		{% endcomment %}

		{{ content }}

		{% include footer.html %}
	</div>
</body>
</html>